@import 'vars';
@import 'mixins';

@include main;

body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-image: url(../images/background.png);
    background-size: cover;
    height: 100vh;

    .prvi{
        width: 20%;
        border-right: 2px solid $rose_color;
        padding: 20px;
        .gore{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 30px;
            img{
                width: 30px;
            }
            .logo{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                img{
                    width: 30px;
                    margin-right: 5px;
                }
                h1{
                    color: $olive_color;
                }
            }
        }
        .nav1{
            margin-bottom: 10px;
            ul{

                li{
                    list-style-type: none;
                    border-bottom: 2px solid $olive_color;
                    padding: 7px;
        
                    img{
                        width: 30px;
                        margin-right: 20px;
                    }
                }
            }
        }
        .nav2{
            ul{
                .extra{
                    border: none;
                }
                li{
                    list-style-type: none;
                    border-bottom: 2px solid $olive_color;
                    padding: 10px;

                    img{
                        width: 30px;
                        margin-right: 20px;
                    }
                    h3{
                        color: $blue_color;
                    }
                }
            }
        }
    }

    .drugi{
        width: 80%;
        padding: 20px;
        header{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 10px;

            form{
                width: 30%;
                input{
                    width: 100%;
                    height: 80%;
                    box-shadow: 1px 1px inset lightgrey;
                    border-radius: 5px;
                    padding-left: 5px;
                    border-color: lightgrey;
                }
            }

            .podaci{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                .ime{
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    color: $blue_color
                }
            }

            img{
                width: 40px;
                margin-left: 10px;
                
            }
            .burger{
                display: none;
            }
        }
        .sanduce{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            border: 2px solid $blue_color;
            border-radius: 5px;
            padding: 10px;
            height: 100%;
            nav{
                ul{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    border-bottom: 2px solid $blue_color;
                    margin-bottom: 5px;
                    li{
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        margin-right: 20px;
                        align-items: center;
                        color: $blue_color;
                        
                        
                        img{
                            width: 30px;
                            margin-right: 20px;
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
        .poruka{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            border: 2px solid $rose_color;
            border-radius: 5px;
            height: 8%;
            margin-bottom: 10px;
            background-color: $blue_email_background;
            align-items: center;
            justify-content: space-between;
            padding-left: 15px;
            padding-right: 15px;
    
            
            div{
                display: flex;
                flex-direction: row;
                align-items: center;

                h2{
                    color: $rose_color;
                    margin-right: 15px;
                    border: 0.1px solid $blue_color;
                    border-radius: 50px;
                    background-color: $blue_color;
                    padding: 5px;
                }
                p{
                    color: $beige_color;
                }
            }
            p{
                color: $beige_color;
            }
        }
    }
}

@include tablet {

    .nav2{
        display: none;
    }
    .sanduce{
        #nav_bar {
            ul{
                li{
                    margin-right: 5px;
                }
            }
        }
    }

}

@include mobile {

    .prvi{
        display: none;
    }
    body{
        width: 100%;
            .drugi{
                width: 100%;

                header{
                    form{
                        display: none;
                    }
                    .burger{
                        display: flex;
                    }
                    .podaci{
                        .ime{
                            display: none;
                        }
                    }
                }
                .sanduce{
                    nav{
                        ul{
                            li{
                                p{
                                    display: none;
                                }
                                img{
                                    margin-right: 50px;
                                }
                            }
                        }
                    }
                }
            }
        }


}

